## pandas

In [2]:
import pandas as pd

### pd.Series([data_array],[index_array])

In [3]:
s1 = pd.Series([100, 200, 300, 400, 500],[1,2,3,4,5])

In [4]:
s1

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [5]:
s1[4]

np.int64(400)

In [6]:
y = pd.Series(['Jan', 'Feb', 'Mar'],[12, 18, 25])

In [7]:
y

12    Jan
18    Feb
25    Mar
dtype: object

In [8]:
y[12]

'Jan'

In [9]:
y[[12,18]]

12    Jan
18    Feb
dtype: object

In [10]:
dict = {'a':10, 'b':20, 'c':30}

s2 = pd.Series(dict)

s2

a    10
b    20
c    30
dtype: int64

### DataFrames

In [11]:
columns = ['A', 'B', 'C']
rows = [1, 2, 3]
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
pd.DataFrame(data, rows, columns)

   A  B  C
1  1  2  3
2  4  5  6
3  7  8  9

In [13]:
ct = pd.read_csv('top_10_countries.csv')

ct

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [14]:
ct2 = pd.read_csv('top_10_countries.csv', usecols=[1,2,3])

ct2

  Country / Dependency    Region  Population
0                China      Asia  1412600000
1                India      Asia  1386946912
2        United States  Americas   333073186
3            Indonesia      Asia   271350000
4             Pakistan      Asia   225200000
5               Brazil  Americas   214231641
6              Nigeria    Africa   211401000
7           Bangladesh      Asia   172062576
8               Russia    Europe   146171015
9               Mexico  Americas   126014024

In [15]:
ct['Region'][0]

'Asia'

In [16]:
ct.iloc[0,2]

'Asia'

In [17]:
ct.iloc[1]

Rank                             2
Country / Dependency         India
Region                        Asia
Population              1386946912
% of world                  17.50%
Date                     18-Jan-22
Name: 1, dtype: object

In [18]:
ct

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [19]:
ct.tail()

   Rank Country / Dependency    Region  Population % of world       Date
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
6     7              Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9               Russia    Europe   146171015      1.84%  01-Jan-21
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [20]:
ct.head()

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4            Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21

In [21]:
ct.shape

(10, 6)

In [22]:
ct.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
ct.rename(columns={'Country / Dependency':'Nation'}, inplace=True)

In [24]:
ct

   Rank          Nation    Region  Population % of world       Date
0     1           China      Asia  1412600000     17.80%  31-Dec-21
1     2           India      Asia  1386946912     17.50%  18-Jan-22
2     3   United States  Americas   333073186      4.20%  18-Jan-22
3     4       Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5        Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6          Brazil  Americas   214231641      2.70%  18-Jan-22
6     7         Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8      Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9          Russia    Europe   146171015      1.84%  01-Jan-21
9    10          Mexico  Americas   126014024      1.59%  02-Mar-20

In [25]:
ct.dtypes

Rank           int64
Nation        object
Region        object
Population     int64
% of world    object
Date          object
dtype: object

In [26]:
ct

   Rank          Nation    Region  Population % of world       Date
0     1           China      Asia  1412600000     17.80%  31-Dec-21
1     2           India      Asia  1386946912     17.50%  18-Jan-22
2     3   United States  Americas   333073186      4.20%  18-Jan-22
3     4       Indonesia      Asia   271350000      3.42%  31-Dec-20
4     5        Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6          Brazil  Americas   214231641      2.70%  18-Jan-22
6     7         Nigeria    Africa   211401000      2.67%  01-Jul-21
7     8      Bangladesh      Asia   172062576      2.17%  18-Jan-22
8     9          Russia    Europe   146171015      1.84%  01-Jan-21
9    10          Mexico  Americas   126014024      1.59%  02-Mar-20

In [27]:
ct['% of world'] = ct['% of world'].apply(lambda x: x[:-1]).astype('float')

In [28]:
ct

   Rank          Nation    Region  Population  % of world       Date
0     1           China      Asia  1412600000       17.80  31-Dec-21
1     2           India      Asia  1386946912       17.50  18-Jan-22
2     3   United States  Americas   333073186        4.20  18-Jan-22
3     4       Indonesia      Asia   271350000        3.42  31-Dec-20
4     5        Pakistan      Asia   225200000        2.84  01-Jul-21
5     6          Brazil  Americas   214231641        2.70  18-Jan-22
6     7         Nigeria    Africa   211401000        2.67  01-Jul-21
7     8      Bangladesh      Asia   172062576        2.17  18-Jan-22
8     9          Russia    Europe   146171015        1.84  01-Jan-21
9    10          Mexico  Americas   126014024        1.59  02-Mar-20

In [30]:
ct['Date'] = ct['Date'].astype('datetime64[ns]')

In [31]:
ct.dtypes

Rank                   int64
Nation                object
Region                object
Population             int64
% of world           float64
Date          datetime64[ns]
dtype: object

In [32]:
ct

   Rank          Nation    Region  Population  % of world       Date
0     1           China      Asia  1412600000       17.80 2021-12-31
1     2           India      Asia  1386946912       17.50 2022-01-18
2     3   United States  Americas   333073186        4.20 2022-01-18
3     4       Indonesia      Asia   271350000        3.42 2020-12-31
4     5        Pakistan      Asia   225200000        2.84 2021-07-01
5     6          Brazil  Americas   214231641        2.70 2022-01-18
6     7         Nigeria    Africa   211401000        2.67 2021-07-01
7     8      Bangladesh      Asia   172062576        2.17 2022-01-18
8     9          Russia    Europe   146171015        1.84 2021-01-01
9    10          Mexico  Americas   126014024        1.59 2020-03-02

In [36]:
pd.to_datetime(ct['Date'], format = '%m-%Y')

0   2021-12-31
1   2022-01-18
2   2022-01-18
3   2020-12-31
4   2021-07-01
5   2022-01-18
6   2021-07-01
7   2022-01-18
8   2021-01-01
9   2020-03-02
Name: Date, dtype: datetime64[ns]